Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, gr24, rigby

changed name to signal id for vdm_service, acu_service, pedal_service, and inverter_service
  gr24/model/acu.go
  gr24/model/vdm.go
Due: gr24

bombed the bcm
  gr24/controller/route_controller.go
  gr24/database/db.go
  gr24/model/inverter.go
  gr24/model/pedal.go
  gr24/rabbitmq/rabbit.go
Due: gr24

add rabbitmq back
  docker-compose.yaml
Due: none

replace rabbitmq with nanomq
  docker-compose.yaml
Due: none

update db to use s2 drivers
  gr24/config/config.go
  gr24/database/db.go
  gr24/go.mod
  gr24/go.sum
Due: gr24

update docker compose
  docker-compose.yaml
Due: none

bahrain: update db driver to s2
  bahrain/config/config.go
  bahrain/database/db.go
  bahrain/go.mod
  bahrain/go.sum
Due: none

jeddah: update db driver to s2
  jeddah/database/db.go
  jeddah/go.mod
  jeddah/go.sum
Due: none

jeddah: update db driver to s2
  jeddah/config/config.go
Due: none

go mod tidy
  bahrain/go.mod
  bahrain/go.sum
  gr24/go.mod
  gr24/go.sum
  jeddah/go.mod
  jeddah/go.sum
  jeddah/scripts/deploy.sh
Due: gr24

rincon local mode
  docker-compose.yaml
Due: none

remove test vehicle id for gr24
  dashboard/src/consts/config.tsx
  dashboard/src/pages/gr24/acu/widgets/CellLiveWidget.tsx
  dashboard/src/pages/gr24/acu/widgets/SegmentLiveWidget.tsx
  gr24/config/config.go
Due: Dashboard, gr24

version bump
  gr24/config/config.go
Due: gr24

gr24: fix datetime precision bug
  gr24/config/config.go
  gr24/service/acu_service.go
  gr24/service/bcm_service.go
  gr24/service/inverter_service.go
  gr24/service/mobile_service.go
  gr24/service/pedal_service.go
  gr24/service/vdm_service.go
  gr24/service/wheel_service.go
  gr24/utils/time.go
Due: gr24

dashboard acu fix
  dashboard/src/consts/config.tsx
  dashboard/src/pages/gr24/acu/widgets/CellLiveWidget.tsx
  dashboard/src/pages/gr24/acu/widgets/SegmentLiveWidget.tsx
Due: Dashboard

add netlify config
  dashboard/netlify.toml
Due: Dashboard

rm silverstone
  rabbitmq/advanced.config
  rabbitmq/rabbitmq.conf
  silverstone/.gitignore
  silverstone/Dockerfile
  silverstone/Makefile
  silverstone/README.md
  silverstone/config/banner.go
  silverstone/config/banner_test.go
  silverstone/config/config.go
  silverstone/controller/ping_controller.go
  silverstone/controller/route_controller.go
  silverstone/database/db.go
  silverstone/go.mod
  silverstone/go.sum
  silverstone/main.go
  silverstone/model/meta.go
  silverstone/scripts/deploy.sh
  silverstone/scripts/run.sh
  silverstone/scripts/test-env.sh
  silverstone/scripts/test.sh
  silverstone/service/rincon_service.go
  silverstone/utils/config.go
  silverstone/utils/config_test.go
  silverstone/utils/logger.go
  silverstone/utils/logger_test.go
Due: none

update gh actions
  .github/workflows/bahrain-tests.yml
  .github/workflows/dashboard-tests.yml
  .github/workflows/gr24-test.yml
  .github/workflows/jeddah-tests.yml
  .github/workflows/rigby-tests.yml
Due: none

update gh actions
  .github/workflows/build.yml
Due: none

update gh actions
  .github/workflows/build.yml
  .github/workflows/dashboard-tests.yml
Due: none

this shit lw cooked
  gr24/go.mod
  gr24/go.sum
  gr24/model/acu.go
  gr24/model/bcm.go
  gr24/model/inverter.go
  gr24/service/inverter_service.go
Due: gr24

gr25: ingest skeleton
  gr25/.gitignore
  gr25/Makefile
  gr25/api/api.go
  gr25/api/ping.go
  gr25/config/banner.go
  gr25/config/config.go
  gr25/database/db.go
  gr25/go.mod
  gr25/go.sum
  gr25/main.go
  gr25/scripts/deploy.sh
  gr25/scripts/run.sh
  gr25/scripts/test-env.sh
  gr25/scripts/test.sh
  gr25/utils/config.go
  gr25/utils/logger.go
  gr25/utils/time.go
Due: none

add gr25 to gh actions
  .github/workflows/build.yml
Due: none

gr25: rincon registration
  gr25/go.mod
  gr25/main.go
  gr25/service/rincon.go
Due: none

update docker compose
  docker-compose.yaml
  singlestore/init.sql
Due: none

gr25: add signal db migration
  gr25/api/api.go
  gr25/database/db.go
  gr25/go.mod
  gr25/go.sum
Due: none

gr25: add dockerfile
  gr25/Dockerfile
Due: none

mqtt ingest subscription and deserialization
  gr25/database/db.go
  gr25/go.mod
  gr25/go.sum
  gr25/main.go
  gr25/model/ecu.go
  gr25/model/message.go
  gr25/mqtt/mqtt.go
  gr25/service/message.go
  gr25/service/signal.go
Due: none

fixed logging in createsignal func
  gr25/service/signal.go
Due: none

Path conditions:
  Dashboard: any of: dashboard/**
  gr24: any of: gr24/**
  rigby: any of: rigby/**
