Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, gr24, rigby

feat: replace signal callback slice with SignalHub for scalable WebSocket fan-out
  gr26/api/signal.go
  gr26/service/signal.go
  gr26/service/signal_hub.go
Due: none

feat: add mapache-py, Python port of mapache-go telemetry library
  mapache-py/.github/workflows/ci.yml
  mapache-py/.github/workflows/publish.yml
  mapache-py/pyproject.toml
  mapache-py/src/mapache/__init__.py
  mapache-py/src/mapache/binary.py
  mapache-py/src/mapache/message.py
  mapache-py/src/mapache/ping.py
  mapache-py/src/mapache/py.typed
  mapache-py/src/mapache/signal.py
  mapache-py/src/mapache/vehicle.py
  mapache-py/tests/__init__.py
  mapache-py/tests/test_binary.py
  mapache-py/tests/test_message.py
  mapache-py/tests/test_vehicle.py
Due: none

chore: move mapache-py CI to global workflows directory
  .github/workflows/mapache-py.yml
  mapache-py/.github/workflows/publish.yml
Due: none

chore: consolidate mapache-py CI into lint and test jobs
  .github/workflows/mapache-py.yml
Due: none

ci: add mapache-go workflow for vet and test
  .github/workflows/mapache-go.yml
Due: none

ci: run all tests on main push regardless of changed paths
  .github/workflows/mapache-go.yml
  .github/workflows/mapache-py.yml
Due: none

ci: add release script and publish workflow
  .github/workflows/publish.yml
  scripts/release.sh
Due: none

release: v3.0.0
  gr26/config/config.go
  mapache-py/pyproject.toml
Due: none

chore: rename python package to mapache-py
  mapache-py/pyproject.toml
Due: none

chore: update mapache-go module path to v3
  .github/workflows/publish.yml
  gr26/api/signal.go
  gr26/database/db.go
  gr26/go.mod
  gr26/model/gps.go
  gr26/model/message.go
  gr26/model/tcm.go
  gr26/service/ping.go
  gr26/service/signal.go
  gr26/service/signal_hub.go
  gr26/service/vehicle.go
  mapache-go/go.mod
  vehicle/api/marker.go
  vehicle/api/session.go
  vehicle/api/vehicle.go
  vehicle/database/db.go
  vehicle/go.mod
  vehicle/service/marker.go
  vehicle/service/session.go
  vehicle/service/vehicle.go
Due: none

release: v3.0.1
  auth/config/config.go
  gr26/config/config.go
  mapache-py/pyproject.toml
  vehicle/config/config.go
Due: none

chore: use published mapache-go/v3 module, remove local replace
  gr26/go.mod
  gr26/go.sum
  vehicle/go.mod
  vehicle/go.sum
Due: none

refactor: modernize query service tooling, deps, and data pipeline
  docker-compose.yaml
  query/Dockerfile
  query/Dockerfile.dev
  query/Makefile
  query/poetry.lock
  query/pyproject.toml
  query/query/config/config.py
  query/query/main.py
  query/query/routes/query.py
  query/query/service/auth.py
  query/query/service/query.py
  query/query/service/rincon.py
  query/query/service/trip.py
  query/query/service/vehicle.py
  query/scripts/run.sh
  query/uv.lock
Due: none

feat: use prefixed ULIDs for query log and token IDs
  query/pyproject.toml
  query/query/service/log.py
  query/query/service/token.py
  query/uv.lock
Due: none

feat: add SKIP_AUTH_CHECK config for local development
  docker-compose.yaml
  query/query/config/config.py
  query/query/main.py
  query/query/routes/query.py
  query/query/routes/signal_definition.py
  query/query/routes/token.py
  query/query/service/auth.py
Due: none

fix trip replay UI click interrupting issue
  dashboard/src/pages/trips/TripDetailsPage.tsx
Due: Dashboard

s3 ffmpegger
  query/query/main.py
  query/query/routes/video.py
  query/query/service/video.py
Due: none

chore: replace legacy CI with per-service Docker build workflows
  .github/workflows/build.yml
  .github/workflows/dashboard-tests.yml
  .github/workflows/query-tests.yml
  .github/workflows/query.yml
  query/Dockerfile
  query/Dockerfile.dev
  query/Makefile
  query/pyproject.toml
  query/scripts/test.env
  query/scripts/test.sh
  query/tests/__init__.py
  query/tests/conftest.py
  query/tests/test_query.py
Due: none

fix: copy README.md in Dockerfile for hatchling build
  query/Dockerfile
Due: none

feat: add dashboard to docker-compose dev environment
  dashboard/Dockerfile.dev
  docker-compose.yaml
Due: Dashboard

feat: add SKIP_AUTH_CHECK support in dashboard for local dev
  dashboard/src/consts/config.tsx
  dashboard/src/lib/auth.ts
  dashboard/src/models/user.tsx
  docker-compose.yaml
Due: Dashboard

feat(gr26): add ECU CAN message signal definitions
  gr26/model/ecu.go
  gr26/model/message.go
Due: none

feat(gr26): add BCU CAN message signal definitions
  gr26/model/bcu.go
  gr26/model/message.go
Due: none

feat(gr26): add inverter, fan, dash, TCM status, and DTI signal definitions
  gr26/model/dash.go
  gr26/model/dti.go
  gr26/model/fan.go
  gr26/model/inverter.go
  gr26/model/message.go
  gr26/model/tcm.go
Due: none

feat(gr26): add env vars to toggle signal DB writes and WebSocket publishing
  gr26/config/config.go
  gr26/service/signal.go
Due: none

chore: use UTC timezone in all service Docker images
  auth/Dockerfile
  gr24/Dockerfile
  gr25/Dockerfile
  gr26/Dockerfile
  vehicle/Dockerfile
Due: gr24

chore: drop all container_name directives in compose
  docker-compose.yaml
Due: none

fix: move pg volume mount to parent dir for pg18+ compatibility
  docker-compose.yaml
Due: none

feat: add debug page listing all incoming signals via WS wildcard
  dashboard/src/components/Sidebar.tsx
  dashboard/src/main.tsx
  dashboard/src/pages/debug/DebugPage.tsx
  gr25/api/signal.go
  gr26/service/signal_hub.go
Due: Dashboard

perf: throttle debug page renders + default to gr26-dev
  dashboard/public/icons/cars/gr26-pixel.png
  dashboard/src/models/vehicle.tsx
  dashboard/src/pages/debug/DebugPage.tsx
Due: Dashboard

feat: gr26 live widgets on dashboard, dispatch by vehicle type
  dashboard/src/App.tsx
  dashboard/src/components/widgets/gr26/live/BcuDebugWidget.tsx
  dashboard/src/components/widgets/gr26/live/DtiDebugWidget.tsx
  dashboard/src/components/widgets/gr26/live/EcuDebugWidget.tsx
  dashboard/src/components/widgets/gr26/live/InverterDebugWidget.tsx
Due: Dashboard

feat: add Raw (hex) column to debug page
  dashboard/src/pages/debug/DebugPage.tsx
Due: Dashboard

feat: client-specified WS refresh rate on gr26 live endpoint
  dashboard/src/pages/debug/DebugPage.tsx
  gr26/api/signal.go
Due: Dashboard

feat: 3-tier age coloring on debug page
  dashboard/src/pages/debug/DebugPage.tsx
Due: Dashboard

tweak: bump debug age yellow threshold to 5s
  dashboard/src/pages/debug/DebugPage.tsx
Due: Dashboard

perf: isolate WS hook + memoize rows on debug page
  dashboard/src/pages/debug/DebugPage.tsx
Due: Dashboard

fix: hoist sidebar subcomponents to module scope
  dashboard/src/components/Sidebar.tsx
Due: Dashboard

feat(gr26): decode CAN-level Ping (0x002) as per-node timestamp signal
  gr26/model/message.go
  gr26/model/ping.go
Due: none

Path conditions:
  Dashboard: any of: dashboard/**
  gr24: any of: gr24/**
  rigby: any of: rigby/**
