Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, ingest, gr24, rigby

add codecov configuration
  codecov.yaml
Due: none

update some codecov shit
  codecov.yaml
Due: none

remove ingest from coverage
  .github/workflows/ingest-tests.yml
  codecov.yaml
Due: none

nodes binary
  gr24/nodes/binary.go
Due: gr24

holy fuck we got binary working
  gr24/nodes/binary.go
Due: gr24

decode worksgit add .git add .
  gr24/nodes/binary.go
Due: gr24

nodes test works
  gr24/nodes/binary.go
Due: gr24

add nodes package
  nodes/binary.go
  nodes/go.mod
  nodes/nodes.go
Due: none

update pkg name
  nodes/go.mod
Due: none

rename pkg to mapache
  mapache/binary.go
  mapache/go.mod
  mapache/nodes.go
Due: none

fix go.mod
  mapache/go.mod
  nodes/binary.go
  nodes/nodes.go
Due: none

initialize rabbitmq connection
  gr24/config/config.go
  gr24/go.mod
  gr24/go.sum
  gr24/main.go
  gr24/rabbitmq/rabbit_service.go
Due: gr24

it's beautiful
  gr24/main.go
  gr24/model/pedal.go
  gr24/service/pedal_service.go
Due: gr24

create pedal db ops, initialize ingest, parser functions
  gr24/database/db.go
  gr24/go.mod
  gr24/go.sum
  gr24/model/pedal.go
  gr24/rabbitmq/pedal.go
  gr24/service/pedal_service.go
Due: gr24

fix build
  gr24/rabbitmq/pedal.go
Due: gr24

setup pedal mqtt ingest
  gr24/main.go
  gr24/rabbitmq/pedal.go
  gr24/rabbitmq/rabbit.go
  gr24/service/pedal_service.go
Due: gr24

remove brake pressure from pedal node
  rigby/rigby/main.py
  rigby/rigby/nodes/gr24/pedal.py
Due: rigby

remove old shared libs
  mapache/binary.go
  mapache/go.mod
  mapache/nodes.go
  nodes/binary.go
  nodes/go.mod
  nodes/nodes.go
Due: none

fixed rigby pedal tests
  rigby/tests/nodes/gr24/pedal_test.py
Due: rigby

comment old rigby
  rigby/rigby/main.py
Due: rigby

ayy pedals works now
  gr24/model/pedal.go
  gr24/service/pedal_service.go
Due: gr24

add pedal scaling
  gr24/service/pedal_service.go
Due: gr24

remove old mapache lib
  mapache/binary.go
  mapache/go.mod
  mapache/nodes.go
Due: none

add vehicle id to pedal struct
  gr24/model/pedal.go
Due: gr24

wow topic wildcard for vehicle id works
  gr24/service/pedal_service.go
Due: gr24

remove old rigby shit
  rigby/rigby/main.py
Due: rigby

add comments
  gr24/service/pedal_service.go
Due: gr24

added steering_wheel.go and steering wheel_service.go
  gr24/model/steering_wheel.go
  gr24/service/steering_wheel_service.go
Due: gr24

add acu struct, fields
  gr24/database/db.go
  gr24/model/acu.go
Due: gr24

add acu service, ingest
  gr24/service/acu_service.go
Due: gr24

add millis to acu
  gr24/model/acu.go
Due: gr24

added wheel.go and wheel_service.go
  gr24/model/wheel.go
  gr24/service/wheel_service.go
Due: gr24

add acu cell temps
  gr24/model/acu.go
  gr24/service/acu_service.go
Due: gr24

added bcm.go and bcm_service.go
  gr24/model/bcm.go
  gr24/service/bcm_service.go
Due: gr24

remove blank field from acu parsing
  gr24/service/acu_service.go
Due: gr24

add some bit checking for acu errors
  gr24/go.mod
  gr24/go.sum
  gr24/service/acu_service.go
Due: gr24

add acu errors to struct
  gr24/model/acu.go
  gr24/service/acu_service.go
Due: gr24

Path conditions:
  Dashboard: any of: dashboard/**
  ingest: any of: ingest/**
  gr24: any of: gr24/**
  rigby: any of: rigby/**
