Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, gr24, rigby

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 15%

    patch:
      default:
        target: 0%
        threshold: 0%
        base: auto
        only_pulls: true

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: off
        target: auto
  individual_components:
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: gr24
      paths:
        - "gr24/**"
    - component_id: rigby
      paths:
        - "rigby/**"

refactor(query): share signal decimation query and ISO-UTC-Z helper
  query/query/service/decimate.py
  query/query/service/json_safe.py
  query/query/service/query.py
  query/query/service/raw_signal.py
  query/tests/test_query_pairs.py
Due: none

refactor(query): dedupe cluster ISO formatting onto shared helper
  query/query/service/cluster.py
Due: none

refactor(signals): extract SignalWidget data pipelines into hooks
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/components/signals/useSignalData.ts
Due: Dashboard

fix(query): align service VERSION with pyproject at 3.9.0
  query/query/config/config.py
Due: none

docs(query): design server-side MQL link queries (LinkRef)
  query/docs/mql-link-queries.md
Due: none

refactor(http): add shared authenticated axios client
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/lib/auth.ts
  dashboard/src/lib/http.ts
  dashboard/src/lib/pairs.ts
  dashboard/src/lib/sessions/api.ts
Due: Dashboard

refactor(signals): unify the compact metric formatter
  dashboard/src/components/signals/QueryChart.tsx
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/lib/__tests__/format.test.ts
  dashboard/src/lib/format.ts
  dashboard/src/pages/signals/SignalsPage.tsx
Due: Dashboard

refactor(signals): extract useEchartInstance lifecycle hook
  dashboard/src/components/signals/PlotChart.tsx
  dashboard/src/components/signals/QueryChart.tsx
  dashboard/src/lib/useEchartInstance.ts
Due: Dashboard

refactor: rename leftover Lapache desktop-app vocabulary to platform terms
  dashboard/src/models/session.tsx
  dashboard/src/pages/sessions/SessionEditorPage.tsx
  mapache-go/vehicle.go
  query/query/routes/clusters.py
  query/query/service/cluster.py
Due: Dashboard

refactor(sessions): lift lap-input + import-reprojection math into lib/sessions
  dashboard/src/lib/sessions/__tests__/importMarkers.test.ts
  dashboard/src/lib/sessions/__tests__/lapInputs.test.ts
  dashboard/src/lib/sessions/importMarkers.ts
  dashboard/src/lib/sessions/lapInputs.ts
  dashboard/src/pages/sessions/SessionEditorPage.tsx
Due: Dashboard

feat(auth,dashboard): migrate to Sentinel v5
  auth/api/api.go
  auth/api/user.go
  auth/config/config.go
  auth/model/auth.go
  auth/model/user.go
  auth/service/auth.go
  auth/service/sentinel.go
  dashboard/src/components/Header.tsx
  dashboard/src/consts/config.tsx
  dashboard/src/models/user.tsx
  dashboard/src/pages/auth/LoginPage.tsx
Due: Dashboard

chore(compose): wire local dev through Sentinel v5
  docker-compose.yaml
  example.env
  query/query/config/config.py
  query/query/main.py
Due: none

quick patch
  gr26/model/bcu.go
Due: none

release: mapache v3.9.1
  auth/config/config.go
  dashboard/package.json
  gr26/config/config.go
  live/config/config.go
  query/pyproject.toml
  vehicle/config/config.go
Due: Dashboard

added dcdc to mapach
  gr26/model/dcdc.go
Due: none

release: mapache v3.9.2
  auth/config/config.go
  dashboard/package.json
  gr26/config/config.go
  live/config/config.go
  query/pyproject.toml
  vehicle/config/config.go
Due: Dashboard

fix(example.env): use kerbecs port for local OAuth redirect
  example.env
Due: none

fix(dashboard): trim OAuth scope to user:read + groups:read
  dashboard/src/pages/auth/LoginPage.tsx
Due: Dashboard

fix(query): translate auth failures to 401 instead of 500
  query/query/service/auth_guard.py
Due: none

chore(example.env): populate dev Sentinel v5 creds
  example.env
Due: none

fix(sessions): use saveSessionAnalysisWithLaps in editor save
  dashboard/src/pages/sessions/SessionEditorPage.tsx
Due: Dashboard

feat(dashboard/jobs): gate job-enqueue on MapacheJobRunners group
  dashboard/src/pages/jobs/JobsPage.tsx
Due: Dashboard

feat(signals): Modify menu + dotted-field grammar; remove tests
  .github/workflows/mapache-py.yml
  .github/workflows/query.yml
  dashboard/package.json
  dashboard/src/components/signals/MqlEditor.tsx
  dashboard/src/components/signals/QueryBuilder.tsx
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/components/signals/__tests__/derived-named-series.test.ts
  dashboard/src/components/signals/chartTypes.ts
  dashboard/src/lib/__tests__/date.test.ts
  dashboard/src/lib/__tests__/format.test.ts
  dashboard/src/lib/__tests__/query.test.ts
  dashboard/src/lib/__tests__/useTextMirror.test.ts
  dashboard/src/lib/query.ts
  dashboard/src/lib/sessions/__tests__/importMarkers.test.ts
  dashboard/src/lib/sessions/__tests__/lapInputs.test.ts
  dashboard/src/lib/sessions/__tests__/outliers.test.ts
  dashboard/vitest.config.ts
  mapache-py/pyproject.toml
  mapache-py/tests/__init__.py
  mapache-py/tests/test_binary.py
  mapache-py/tests/test_message.py
  mapache-py/tests/test_vehicle.py
  query/pyproject.toml
  query/query/service/query_exec.py
  query/query/service/query_lang.py
  query/tests/__init__.py
  query/tests/conftest.py
  query/tests/test_query_exec.py
  query/tests/test_query_lang.py
  query/tests/test_query_pairs.py
  rigby/pyproject.toml
  rigby/tests/__init__.py
  rigby/tests/nodes/gr24/bcm_test.py
  rigby/tests/nodes/gr24/gps_test.py
  rigby/tests/nodes/gr24/pedal_test.py
  rigby/tests/nodes/gr24/wheel_test.py
  rigby/tests/test.py
  rigby/tests/utils/binary_test.py
  rigby/tests/utils/generator_test.py
Due: Dashboard, rigby

fix(signals): match Modify button height to other chips (h-7)
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

fix(signals): use MQL method names as Modify menu titles
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

fix(signals): rename .every→.rollup, pull series name out of menu
  dashboard/src/components/signals/QueryBuilder.tsx
  dashboard/src/lib/query.ts
  query/query/service/query_lang.py
Due: Dashboard

feat(signals): Datadog-style query row
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

fix(signals): inline Modify button instead of right-flush
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

fix(signals): drop redundant "name is" from filter chip
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

release: mapache v3.9.3
  auth/config/config.go
  dashboard/package.json
  gr26/config/config.go
  live/config/config.go
  query/pyproject.toml
  vehicle/config/config.go
Due: Dashboard

fix(signals): rename .reject→.filter; signal-name button → "+ signal"
  dashboard/src/components/signals/QueryBuilder.tsx
  dashboard/src/lib/query.ts
  query/query/service/query_lang.py
Due: Dashboard

fix(signals): "+ Modifier" text button instead of Σ icon
  dashboard/src/components/signals/QueryBuilder.tsx
Due: Dashboard

feat(signals): kebab menu in header, chart-type moves above canvas
  dashboard/src/components/signals/SignalWidget.tsx
Due: Dashboard

fix(dashboard): hardcode Sentinel v5 prod client_id fallback
  dashboard/src/consts/config.tsx
Due: Dashboard

release: mapache v3.9.4
  auth/config/config.go
  dashboard/package.json
  gr26/config/config.go
  live/config/config.go
  query/pyproject.toml
  vehicle/config/config.go
Due: Dashboard

fix(vehicle/sessions): upsert via ON CONFLICT so editor saves persist
  vehicle/service/session.go
Due: none

feat(signals): drop "Edit as MQL" toggle
  dashboard/src/components/signals/SignalWidget.tsx
Due: Dashboard

feat(dashboards): MVP backend + grid frontend (PR 1 of 3)
  dashboard/package.json
  dashboard/src/components/Sidebar.tsx
  dashboard/src/components/dashboards/DashboardWidgetCard.tsx
  dashboard/src/lib/dashboards.ts
  dashboard/src/main.tsx
  dashboard/src/models/dashboard.ts
  dashboard/src/pages/dashboards/DashboardDetailsPage.tsx
  dashboard/src/pages/dashboards/DashboardsPage.tsx
  kerbecs.yaml
  mapache-go/dashboard.go
  vehicle/api/api.go
  vehicle/api/dashboard.go
  vehicle/database/db.go
  vehicle/go.mod
  vehicle/service/dashboard.go
Due: Dashboard

feat(dashboards): chart rendering + rolling refresh
  dashboard/src/components/dashboards/DashboardWidgetCard.tsx
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/pages/dashboards/DashboardDetailsPage.tsx
  vehicle/go.sum
Due: Dashboard

feat(dashboards): SSE streaming, chart-only widgets, edit dialog, picker drawer
  dashboard/package-lock.json
  dashboard/src/components/dashboards/AddWidgetDrawer.tsx
  dashboard/src/components/dashboards/DashboardWidgetCard.tsx
  dashboard/src/components/signals/SignalWidget.tsx
  dashboard/src/components/ui/sheet.tsx
  dashboard/src/lib/useLiveTrigger.ts
  dashboard/src/pages/dashboards/DashboardDetailsPage.tsx
  query/uv.lock
Due: Dashboard
