Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, gr24, rigby

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 15%

    patch:
      default:
        target: 0%
        threshold: 0%
        base: auto
        only_pulls: true

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: off
        target: auto
  individual_components:
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: gr24
      paths:
        - "gr24/**"
    - component_id: rigby
      paths:
        - "rigby/**"

add wheel controller
  gr24/controller/route_controller.go
  gr24/controller/wheel_controller.go
Due: gr24

version bump
  gr24/config/config.go
Due: gr24

init mobile node page
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/main.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

add map and speed and heading to mobile dash page
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/components/Layout.tsx
  dashboard/src/components/Sidebar.tsx
  dashboard/src/main.tsx
  dashboard/src/models/gr24/mobile.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

set createdAt time before websocket push
  gr24/service/acu_service.go
  gr24/service/bcm_service.go
  gr24/service/mobile_service.go
  gr24/service/pedal_service.go
  gr24/service/steering_wheel_service.go
  gr24/service/vdm_service.go
  gr24/service/wheel_service.go
Due: gr24

added debug fields to mobile node
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

add custom gps icon to map
  dashboard/public/icons/gps-marker-dark.png
  dashboard/public/icons/gps-marker-light.png
  dashboard/public/icons/gps-marker.png
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

mobile debug live widget
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/DebugLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapSpeedLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/SpeedLiveWidget.tsx
Due: Dashboard

accelerometer gplot kinda works
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/AccelerometerLiveWidget.tsx
Due: Dashboard

gplot so much smoother now
  dashboard/src/pages/gr24/mobile/widgets/AccelerometerLiveWidget.tsx
Due: Dashboard

fix gplot lint
  dashboard/src/pages/gr24/mobile/widgets/AccelerometerLiveWidget.tsx
Due: Dashboard

lint fixes
  dashboard/src/lib/auth.ts
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/DebugLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapSpeedLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/SpeedLiveWidget.tsx
Due: Dashboard

fixed gplot scaling
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/AccelerometerLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

shit gettin tragic
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

graphs be graphin
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

made live graphs not have a seizure
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

made live graph component for mobile node
  dashboard/src/consts/config.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

add battery to mobile debug
  dashboard/src/pages/gr24/mobile/widgets/DebugLiveWidget.tsx
Due: Dashboard

lint fixes
  dashboard/src/pages/gr24/mobile/widgets/AltitudeGraphLiveWidget.tsx
Due: Dashboard

add outline button, alert dialog
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/components/ui/alert-dialog.tsx
  dashboard/src/components/ui/outline-button.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

why tf are the buttons not working 😭
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

trying to get this dialog to work
  dashboard/src/main.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
Due: Dashboard

added widget selection to mobile page
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/src/components/ui/label.tsx
  dashboard/src/consts/config.tsx
  dashboard/src/pages/gr24/dashboard/DashboardPage.tsx
  dashboard/src/pages/gr24/mobile/MobilePage.tsx
  dashboard/src/pages/gr24/mobile/widgets/DebugRawLiveWidget.tsx
Due: Dashboard

added bunch of nodes
  dashboard/src/consts/config.tsx
  dashboard/src/main.tsx
  dashboard/src/pages/gr24/inverter/InverterPage.tsx
  dashboard/src/pages/gr24/inverter/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/pedal/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/vdm/VDMPage.tsx
  dashboard/src/pages/gr24/vdm/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/wheel/WheelPage.tsx
  dashboard/src/pages/gr24/wheel/widgets/DebugRawLiveWidget.tsx
Due: Dashboard

added rest of nodes
  dashboard/src/components/Sidebar.tsx
  dashboard/src/consts/config.tsx
  dashboard/src/main.tsx
  dashboard/src/pages/gr24/acu/ACUPage.tsx
  dashboard/src/pages/gr24/acu/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/bcm/BCMPage.tsx
  dashboard/src/pages/gr24/bcm/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/dash_panel/DashPanelPage.tsx
  dashboard/src/pages/gr24/dash_panel/widgets/DebugRawLiveWidget.tsx
  dashboard/src/pages/gr24/steering_wheel/SteeringWheelPage.tsx
  dashboard/src/pages/gr24/steering_wheel/widgets/DebugRawLiveWidget.tsx
Due: Dashboard

fixed problem with acu page
  dashboard/src/pages/gr24/acu/ACUPage.tsx
Due: Dashboard

rincon registration bug when running in docker
  gr24/config/config.go
  gr24/service/rincon_service.go
Due: gr24

fix inverter model, add auto-scaling to pedal
  gr24/controller/inverter_controller.go
  gr24/controller/route_controller.go
  gr24/database/db.go
  gr24/model/inverter.go
  gr24/rabbitmq/rabbit.go
  gr24/service/pedal_service.go
Due: gr24

added raw apps values to pedal model
  gr24/model/pedal.go
  gr24/service/pedal_service.go
Due: gr24

fixed inverter parsing
  gr24/model/inverter.go
  gr24/service/inverter_service.go
Due: gr24

added inverter faults
  gr24/model/inverter.go
  gr24/service/inverter_service.go
Due: gr24

remove steering wheel node
  gr24/controller/route_controller.go
  gr24/controller/steering_wheel_controller.go
  gr24/database/db.go
  gr24/model/steering_wheel.go
  gr24/rabbitmq/rabbit.go
  gr24/service/steering_wheel_service.go
Due: gr24

removed steering wheel from dash
  dashboard/src/components/Sidebar.tsx
  dashboard/src/consts/config.tsx
  dashboard/src/main.tsx
  dashboard/src/pages/gr24/steering_wheel/SteeringWheelPage.tsx
  dashboard/src/pages/gr24/steering_wheel/widgets/DebugRawLiveWidget.tsx
Due: Dashboard

updated ws endpoints
  dashboard/src/consts/config.tsx
  dashboard/src/pages/gr24/acu/ACUPage.tsx
  dashboard/src/pages/gr24/mobile/widgets/AccelerometerLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/DebugLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/MapSpeedLiveWidget.tsx
  dashboard/src/pages/gr24/mobile/widgets/SpeedLiveWidget.tsx
  dashboard/src/pages/gr24/pedal/PedalLiveWidget.tsx
  dashboard/src/pages/gr24/vdm/VDMPage.tsx
Due: Dashboard

remove mqtt from docker-compose
  docker-compose.yaml
Due: none

updated silverstone rincon service
  gr24/go.mod
  gr24/go.sum
  silverstone/go.mod
  silverstone/go.sum
  silverstone/service/rincon_service.go
Due: gr24
