Repository Gaucho-Racing/Mapache: changes, and which Codecov flags are due for each by the changed paths.
All: Dashboard, gr24, rigby

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 15%

    patch:
      default:
        target: 0%
        threshold: 0%
        base: auto
        only_pulls: true

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: off
        target: auto
  individual_components:
    - component_id: dashboard
      name: Dashboard
      paths:
        - "dashboard/**"
    - component_id: gr24
      paths:
        - "gr24/**"
    - component_id: rigby
      paths:
        - "rigby/**"

init bahrain
  bahrain/.gitignore
  bahrain/Dockerfile
  bahrain/Makefile
  bahrain/config/banner.go
  bahrain/config/banner_test.go
  bahrain/config/config.go
  bahrain/controller/ping_controller.go
  bahrain/controller/route_controller.go
  bahrain/database/db.go
  bahrain/go.mod
  bahrain/go.sum
  bahrain/main.go
  bahrain/model/meta.go
  bahrain/scripts/deploy.sh
  bahrain/scripts/run.sh
  bahrain/scripts/test-env.sh
  bahrain/scripts/test.sh
  bahrain/service/rincon_service.go
  bahrain/utils/config.go
  bahrain/utils/config_test.go
  bahrain/utils/logger.go
  bahrain/utils/logger_test.go
Due: none

add auth service
  bahrain/config/config.go
  bahrain/controller/ping_controller.go
  bahrain/controller/route_controller.go
  bahrain/database/db.go
  bahrain/go.mod
  bahrain/go.sum
  bahrain/main.go
  bahrain/model/auth.go
  bahrain/service/auth_service.go
  bahrain/service/rincon_service.go
  bahrain/utils/config.go
  bahrain/utils/config_test.go
  bahrain/utils/logger.go
Due: none

add user service
  bahrain/service/auth_service.go
  bahrain/service/user_service.go
  bahrain/utils/logger_test.go
Due: none

add auth controller
  bahrain/controller/auth_controller.go
  bahrain/controller/user_controller.go
Due: none

add routes
  bahrain/controller/route_controller.go
  bahrain/controller/user_controller.go
Due: none

register routes w rincon
  bahrain/config/config.go
Due: none

auth is back
  bahrain/controller/route_controller.go
  bahrain/go.mod
  dashboard/src/App.tsx
  dashboard/src/lib/auth.ts
  dashboard/src/lib/axios-error-handler.ts
  dashboard/src/pages/auth/RegisterPage.tsx
Due: Dashboard

add bahrain to docker-compose
  bahrain/scripts/deploy.sh
  docker-compose.yaml
Due: none

build status gh action
  .github/workflows/bahrain-tests.yml
  .github/workflows/status.yml
Due: none

update build action
  .github/workflows/build.yml
Due: none

update readme
  .github/workflows/build.yml
  README.md
Due: none

init jeddah
  jeddah/.gitignore
  jeddah/Dockerfile
  jeddah/Makefile
  jeddah/config/banner.go
  jeddah/config/banner_test.go
  jeddah/config/config.go
  jeddah/controller/ping_controller.go
  jeddah/controller/route_controller.go
  jeddah/database/db.go
  jeddah/go.mod
  jeddah/go.sum
  jeddah/main.go
  jeddah/model/meta.go
  jeddah/scripts/deploy.sh
  jeddah/scripts/run.sh
  jeddah/scripts/test-env.sh
  jeddah/scripts/test.sh
  jeddah/service/rincon_service.go
  jeddah/utils/config.go
  jeddah/utils/config_test.go
  jeddah/utils/logger.go
  jeddah/utils/logger_test.go
Due: none

added jeddah gh actions
  .github/workflows/build.yml
  .github/workflows/jeddah-tests.yml
Due: none

jeddah db migration
  jeddah/database/db.go
  jeddah/go.mod
  jeddah/go.sum
Due: none

gr24 ingest pedal NaN scaling bug
  gr24/service/pedal_service.go
Due: gr24

version bump
  gr24/config/config.go
Due: gr24

fix host env var
  rigby/rigby/main.py
Due: rigby

add vehicle service, endpoints
  jeddah/config/config.go
  jeddah/controller/vehicle_controller.go
  jeddah/go.mod
  jeddah/go.sum
  jeddah/service/vehicle_service.go
Due: none

add vehicle endpoints
  jeddah/controller/route_controller.go
Due: none

trip and lap service
  jeddah/service/lap_service.go
  jeddah/service/trip_service.go
Due: none

wow trips and laps and shit
  jeddah/controller/route_controller.go
  jeddah/controller/trip_controller.go
Due: none

trip endpoints
  jeddah/controller/route_controller.go
  jeddah/controller/trip_controller.go
  jeddah/service/trip_service.go
Due: none

lap functionality
  jeddah/controller/lap_controller.go
  jeddah/controller/route_controller.go
Due: none

added vehicle ids for ping service
  gr24/config/config.go
  gr24/rabbitmq/rabbit.go
Due: gr24

fix createdAt bug in inverter parsing
  gr24/config/config.go
  gr24/service/inverter_service.go
Due: gr24

add pedals live widget to pedals page
  dashboard/src/components/Header.tsx
  dashboard/src/components/Sidebar.tsx
  dashboard/src/consts/config.tsx
  dashboard/src/models/car.tsx
  dashboard/src/pages/gr24/dashboard/DashboardPage.tsx
  dashboard/src/pages/gr24/pedal/PedalPage.tsx
  dashboard/src/pages/gr24/pedal/widgets/PedalLiveWidget.tsx
Due: Dashboard

bump docker compose version
  docker-compose.yaml
Due: none

added inverter scaling
  gr24/service/inverter_service.go
Due: gr24

added acu scaling
  gr24/service/acu_service.go
Due: gr24

no vdm scaling needed
  dashboard/src/pages/gr24/inverter/InverterPage.tsx
  gr24/service/vdm_service.go
Due: Dashboard, gr24

added acu segment and cell widgets
  dashboard/src/consts/config.tsx
  dashboard/src/models/gr24/acu.tsx
  dashboard/src/pages/gr24/acu/ACUPage.tsx
  dashboard/src/pages/gr24/acu/widgets/CellLiveWidget.tsx
  dashboard/src/pages/gr24/acu/widgets/SegmentLiveWidget.tsx
Due: Dashboard

made acu colors better
  dashboard/src/pages/gr24/acu/widgets/CellLiveWidget.tsx
  dashboard/src/pages/gr24/acu/widgets/SegmentLiveWidget.tsx
Due: Dashboard

Update README.md
  silverstone/README.md
Due: none

remove silverstone templ service
  silverstone/.gitignore
  silverstone/Dockerfile
  silverstone/Makefile
  silverstone/README.md
  silverstone/config/banner.go
  silverstone/config/banner_test.go
  silverstone/config/config.go
  silverstone/controller/ping_controller.go
  silverstone/controller/route_controller.go
  silverstone/database/db.go
  silverstone/go.mod
  silverstone/go.sum
  silverstone/main.go
  silverstone/model/meta.go
  silverstone/scripts/deploy.sh
  silverstone/scripts/run.sh
  silverstone/scripts/test-env.sh
  silverstone/scripts/test.sh
  silverstone/service/rincon_service.go
  silverstone/utils/config.go
  silverstone/utils/config_test.go
  silverstone/utils/logger.go
  silverstone/utils/logger_test.go
Due: none

nuked bcm and wheel
  gr24/controller/bcm_controller.go
  gr24/controller/vdm_controller.go
  gr24/controller/wheel_controller.go
  gr24/model/bcm.go
  gr24/model/wheel.go
  gr24/service/bcm_service.go
  gr24/service/pedal_service.go
  gr24/service/wheel_service.go
Due: gr24

remove obsolete tests
  .github/workflows/bahrain-tests.yml
  .github/workflows/dashboard.yml
  .github/workflows/gr24-test.yml
  .github/workflows/jeddah-tests.yml
Due: none

split up github build action
  .github/workflows/build.yml
Due: none
